.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log
Ctrl + D

git add .gitignore
git commit -m "Add proper .gitignore file"
git push origin master

